/* --- IMPORTS ET BASES --- */

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Karla:ital,wght@0,200..800;1,200..800&family=Recursive:wght@300..1000&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- VARIABLES --- */
:root {
	--ifm-font-family-base: "Atkinson Hyperlegible", sans-serif;
	--ifm-heading-font-family: "Karla", sans-serif;
	--ifm-font-family-monospace: "TypoPRO Fantasque Sans Mono", "Fira Code",
		"Fantasque Sans Mono Regular", monospace;

	--ifm-color-primary: #960ea5;
	--ifm-color-primary-dark: #870d95;
	--ifm-color-primary-darker: #800c8c;
	--ifm-color-primary-darkest: #690a74;
	--ifm-color-primary-light: #a50fb6;
	--ifm-color-primary-lighter: #ad10be;
	--ifm-color-primary-lightest: #c312d7;

	--docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
	--copy-button: rgb(170, 227, 246);
	--copy-button-bg: rgba(var(--copy-button), 0.44);
	--copy-button-bg-darker: rgba(170, 227, 246, 0.44);
	--delete-button: rgb(213, 48, 53);
	--delete-button-bg: rgba(var(--delete-button), 0.44);
	--delete-button-bg-darker: rgba(205, 109, 109, 0.25);
	--error: rgb(232, 54, 54);
	--error-bg: rgba(var(--error), 0.3);
	--error-n2: rgb(231, 67, 67);
	--error-bg-n2: rgba(var(--error-n2), 0.424);
	--copy-tooltip: rgb(63, 160, 192);
	--danger-summary: rgba(255, 166, 0, 0.173);
	--danger-summary-color: rgb(194, 139, 36);
	--onNatDice-bg: rgba(101, 156, 220, 0.26);
	--onNatDice-bg-darker: rgba(101, 156, 220, 0.5);
	--onNatDice: rgb(80, 115, 205);
	--onNatDice-darker: rgb(59, 82, 158);

	--affectSkill-bg: rgba(146, 25, 91, 0.15);
	--affectSkill-bg-darker: rgba(146, 25, 91, 0.5);
	--affectSkill: rgb(207, 98, 157);
	--affectSkill-darker: rgb(110, 14, 66);
}

[data-theme="dark"] {
	--ifm-color-primary: #b869e7;
	--ifm-color-primary-dark: #aa4ce2;
	--ifm-color-primary-darker: #a33ee0;
	--delete-button-bg-darker: rgba(188, 28, 28, 0.44);
	--ifm-color-primary-darkest: #8b20cb;
	--ifm-color-primary-light: #c686ec;
	--ifm-color-primary-lighter: #cd94ee;
	--ifm-color-primary-lightest: #e1c0f5;
	--copy-button: rgb(170, 227, 246);
	--copy-button-bg: rgba(var(--copy-button), 0.3);
	--copy-button-bg-darker: rgba(122, 197, 223, 0.22);
	--delete-button: rgb(228, 69, 76);
	--delete-button-bg: rgba(var(--delete-button), 0.3);
	--error: rgb(233, 43, 43);
	--error-bg: rgba(var(--error), 0.111);
	--error-n2: rgb(222, 138, 138);
	--error-bg-n2: rgba(var(--error-n2), 0.173);
	--copy-tooltip: rgb(63, 160, 192);
	--danger-summary: rgba(255, 166, 0, 0.458);
	--danger-summary-color: rgb(246, 228, 196);
	--onNatDice-bg: rgba(185, 205, 228, 0.44);
	--onNatDice-bg-darker: rgba(71, 88, 110, 0.38);
	--onNatDice: rgb(80, 115, 205);
	--onNatDice-darker: rgb(98, 116, 182);

	--affectSkill-bg: rgba(146, 25, 91, 0.15);
	--affectSkill-bg-darker: rgba(146, 25, 91, 0.25);
	--affectSkill: rgb(207, 98, 157);
	--affectSkill-darker: rgb(178, 59, 127);
}

/* --- TYPO --- */
.heading-2 {
	font-family: var(--ifm-heading-font-family);
	font-size: 1.5rem;
	margin-bottom: 10px;
}

/* --- MUI OVERRIDES (Typo, Inputs, Icons, Papers) --- */
.MuiTypography-root {
	font-family: var(--ifm-font-family-base), cursive !important;
}

.MuiInputBase-input,
.MuiFormLabel-root,
.MuiTypography-root-MuiDialogTitle-root,
.MuiOutlinedInput-notchedOutline,
.MuiInputBase-root-MuiOutlinedInput-root,
.MuiFormLabel-root-MuiInputLabel-root,
.MuiFormLabel-root-MuiInputLabel-root,
.MuiInputBase-input-MuiOutlinedInput-input {
	color: var(--ifm-color-content) !important;
}

.MuiSvgIcon-root {
	fill: var(--ifm-color-content) !important;
}

.MuiPaper {
	background-color: var(--ifm-background-color) !important;
}
[data-theme="light"] .MuiPaper {
	background-color: var(--lt-color-background-light) !important;
}

/* --- MUI BUTTON STATES --- */
.MuiButtonBase-root:not(.toggle) {
	background-color: var(--ifm-color-primary-darkest) !important;
	color: var(--ifm-color-primary-darkest) !important;
}

.MuiButtonBase-root:not(.toggle):hover {
	background-color: transparent !important;
	color: var(--ifm-color-primary-darker) !important;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButton-colorPrimary.download-button.css-1rwt2y5-MuiButtonBase-root-MuiButton-root:hover {
	background-color: var(--ifm-color-primary-darkest) !important;
	color: var(--ifm-color-secondary-dark) !important;
}

/* Hover states pour les boutons (icones, checkboxes) en dark et light */
[data-theme="dark"]
	.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeSmall.css-1pe4mpk-MuiButtonBase-root-MuiIconButton-root:hover,
[data-theme="dark"] .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root:hover {
	background-color: rgba(245, 245, 245, 0.099) !important;
}

[data-theme="light"]
	.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeSmall.css-1pe4mpk-MuiButtonBase-root-MuiIconButton-root:has:not(
		.copy-button
	):hover,
[data-theme="light"]
	.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root:has:not(.copy-button):hover {
	background-color: rgba(0, 0, 0, 0.098) !important;
}

/* Boutons MUI simples (non .simple-button, non .toggle) */
.MuiButtonBase-root:not(.simple-button, .toggle) {
	color: var(--ifm-color-primary) !important;
	border-color: var(--ifm-color-primary) !important;
	background-color: var(--lt-color-background) !important;
}

/* MUI Buttons states pour copy-button et delete-button */
.MuiButton-outlined.copy-button {
	color: var(--ifm-color-info-darkest) !important;
	border-color: var(--ifm-color-info-darkest) !important;
}
.MuiButton-outlined.copy-button:hover {
	color: var(--ifm-color-info-darker) !important;
	border-color: var(--copy-button-bg) !important;
	background-color: var(--copy-button-bg) !important;
}
button.MuiButtonBase-root.copy-button:hover {
	color: var(--ifm-color-info-darker) !important;
	background-color: var(--copy-button-bg-darker) !important;
}

.MuiButton-outlined.delete-button {
	color: var(--ifm-color-danger-darkest) !important;
	border-color: var(--ifm-color-danger-darkest) !important;
}
.MuiButton-outlined.delete-button:hover {
	color: var(--ifm-color-danger-darkest) !important;
	border-color: var(--delete-button-bg) !important;
	background-color: var(--delete-button-bg) !important;
}

/* MUI Buttons pour .onNatDice */
.MuiButtonBase-root.onNatDice {
	color: var(--onNatDice);
	border-color: var(--onNatDice-bg);
}
.MuiButtonBase-root.onNatDice:hover {
	background-color: var(--onNatDice-bg);
	color: var(--onNatDice-darker);
}
.MuiButtonBase-root.onNatDice.Mui-selected {
	background-color: var(--onNatDice-bg);
	color: var(--onNatDice-darker);
}
.MuiButtonBase-root.onNatDice.Mui-selected:hover {
	background-color: var(--onNatDice-bg-darker);
	color: var(--onNatDice-darker);
}

/* Boutons manage-button */
.MuiButtonBase-root.manage-button:not(.toggle) {
	color: var(--ifm-color-content) !important;
}

/* --- BOUTONS CUSTOM (Hors overrides MUI) --- */
button.submit {
	background-color: var(--ifm-color-primary-darkest);
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 1.2rem;
	display: grid;
	place-items: center;
	width: 100%;
	cursor: pointer;
}
button.submit:hover {
	background-color: var(--ifm-color-primary-darker);
}

.simple-button {
	border: none !important;
}

.toggle {
	text-transform: none !important;
}

/* copy-button simple */
.copy-button {
	color: var(--ifm-color-info-darkest);
}
.copy-button:hover {
	color: var(--ifm-color-info-light);
	background-color: transparent !important;
}

/* delete-button simple */
.delete-button {
	color: var(--ifm-color-danger-darkest);
}
.delete-button:hover {
	color: var(--ifm-color-danger-light);
}

/* onNatDice simple */
.onNatDice {
	color: var(--onNatDice);
}
.onNatDice.toggle.Mui-selected {
	background-color: var(--onNatDice-bg) !important;
	color: var(--onNatDice-darker) !important;
}
.onNatDice.toggle:hover {
	background-color: var(--onNatDice-bg-darker) !important;
	color: var(--onNatDice-darker);
}
.onNatDice.checked {
	color: var(--onNatDice-darker) !important;
}

/* ----- affect skill ----- */

.affectSkill {
	color: var(--affectSkill);
}
.affectSkill.toggle.Mui-selected {
	background-color: var(--affectSkill-bg) !important;
	color: var(--affectSkill-darker) !important;
}
.affectSkill.toggle:hover {
	background-color: var(--affectSkill-bg-darker) !important;
	color: var(--affectSkill-darker);
}
.affectSkill.checked {
	color: var(--affectSkill-darker) !important;
}

/* Autres états bouton delete */
button.MuiButtonBase-root.delete-button:hover {
	color: var(--ifm-color-danger-darkest) !important;
	background-color: var(--delete-button-bg-darker) !important;
}

/* --- CHAMPS, INPUTS, FORMULAIRES --- */
[data-theme="dark"] .MuiOutlinedInput-notchedOutline {
	border-color: rgba(245, 245, 245, 0.273) !important;
}
[data-theme="dark"]
	.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root:hover
	.MuiOutlinedInput-notchedOutline {
	border-color: rgb(245, 245, 245) !important;
}

.Mui-disabled {
	cursor: not-allowed;
	opacity: 0.2;
}

label[data-shrink="false"]
	+ .MuiInputBase-formControl
	.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
	opacity: 0;
}
label[data-shrink="false"].MuiFormLabel-root.MuiInputLabel-root {
	opacity: 0.5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
}

/* Autocomplete avec ligatures */
.MuiInputBase-root,
.autocomplete .MuiAutocomplete-input,
.MuiAutocomplete-paper.autocomplete {
	font-family: "TypoPRO Fantasque Sans Mono Regular", "Fira Code",
		"Fantasque Sans Mono Regular", monospace !important;
	font-variant-ligatures: contextual;
	font-feature-settings: "calt" 1;
}

/* --- ICONES TEXT-BUTTON --- */
svg.text-button {
	margin-right: 5px;
}

/* --- TABLES --- */
.dice-skill table td,
.dice-skill table th,
.statistic table td,
.statistic table th {
	border: none;
}

/* --- ETATS ERREUR --- */
.error .MuiTooltip-arrow::before,
.error .MuiTooltip-tooltip {
	background: var(--rt-color-error);
}
.error-copy .MuiTooltip-arrow::before,
.error-copy .MuiTooltip-tooltip {
	background-color: var(--copy-tooltip);
	opacity: 0.5;
}
.copy-tooltip .MuiTooltip-arrow::before,
.copy-tooltip .MuiTooltip-tooltip {
	background-color: var(--copy-tooltip);
	opacity: 1;
}
.remove .MuiTooltip-arrow::before,
.remove .MuiTooltip-tooltip {
	background-color: var(--delete-button);
	opacity: 1;
}
.onNatDice.toggle-tooltip .MuiTooltip-arrow::before,
.onNatDice.toggle-tooltip .MuiTooltip-tooltip {
	background-color: var(--onNatDice);
	opacity: 1;
}

.error-bg {
	background-color: var(--error-bg);
	border-radius: 5px;
}
table tr:nth-child(2n).error-bg {
	background-color: var(--error-bg-n2);
}

.MuiButtonBase-root .error .MuiOutlinedInput-notchedOutline {
	border-color: var(--ifm-color-danger-darkest) !important;
	border-width: 2px !important;
}

/* --- ETAT COPY-BUTTON ICON HOVER --- */
.css-1pe4mpk-MuiButtonBase-root-MuiIconButton-root:hover:has(.copy-button) {
	background-color: transparent;
}

/* --- DANGER --- */
#danger {
	--docusaurus-details-decoration-color: var(--danger-summary-color);
	background-color: var(--danger-summary);
	color: var(--danger-summary-color);
	border: var(--danger-summary);
}
#danger summary {
	font-weight: bold;
	text-transform: uppercase;
	font-variant: small-caps;
}
#danger svg {
	vertical-align: text-top;
}

/* --- ADMONITIONS --- */
.admonitionHeading_FzoX {
	font: var(--ifm-heading-font-weight) var(--ifm-h5-font-size) /
		var(--ifm-heading-line-height) var(--ifm-heading-font-family);
	text-transform: uppercase;
	margin-bottom: 0.3rem;
}

.admonitionIcon_rXq6 {
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.4em;
}

.admonitionIcon_rXq6 svg {
	display: inline-block;
	height: 1.6em;
	width: 1.6em;
	fill: var(--ifm-alert-foreground-color);
}

.theme-admonition {
	margin-bottom: 1em;
}

/* --- USAGE ALERTES --- */
.usage {
	--ifm-code-background: var(--ifm-alert-background-color-highlight);
	--ifm-link-color: var(--ifm-alert-foreground-color);
	--ifm-link-hover-color: var(--ifm-alert-foreground-color);
	--ifm-link-decoration: underline;
	--ifm-tabs-color: var(--ifm-alert-foreground-color);
	--ifm-tabs-color-active: var(--ifm-alert-foreground-color);
	--ifm-tabs-color-active-border: var(--ifm-alert-border-color);
	background-color: var(--ifm-alert-background-color);
	border: var(--ifm-alert-border-width) solid var(--ifm-alert-border-color);
	border-left-width: var(--ifm-alert-border-left-width);
	border-radius: var(--ifm-alert-border-radius);
	box-shadow: var(--ifm-alert-shadow);
	color: var(--ifm-alert-foreground-color);
	padding: var(--ifm-alert-padding-vertical) var(--ifm-alert-padding-horizontal);
}

[data-theme="dark"] .alert--usage {
	--ifm-alert-background-color: rgba(152, 225, 184, 0.197);
	--ifm-alert-background-color-highlight: rgba(0, 25, 51, 0.115);
	--ifm-alert-foreground-color: rgb(220, 220, 220);
	--ifm-alert-border-color: rgb(255, 240, 230);
}

.alert--usage {
	--ifm-alert-background-color: rgba(127, 135, 130, 0.2);
	--ifm-alert-background-color-highlight: rgba(6, 27, 48, 0.054);
	--ifm-alert-foreground-color: rgb(120, 119, 119);
	--ifm-alert-border-color: rgb(93, 82, 75);
}

.alert--example {
	--ifm-alert-background-color: rgba(138, 176, 167, 0.29);
	--ifm-alert-background-color-highlight: rgba(6, 27, 48, 0.054);
	--ifm-alert-foreground-color: rgb(225, 225, 234);
	--ifm-alert-border-color: rgb(138, 176, 167);
}

[data-theme="dark"] .alert--example {
	--ifm-alert-background-color: rgb(131, 159, 162);
	--ifm-alert-background-color-highlight: rgba(0, 25, 51, 0.115);
	--ifm-alert-foreground-color: rgb(220, 220, 220);
	--ifm-alert-border-color: rgb(138, 176, 167);
}

.example {
	--ifm-code-background: var(--ifm-alert-background-color-highlight);
	--ifm-link-color: var(--ifm-alert-foreground-color);
	--ifm-link-hover-color: var(--ifm-alert-foreground-color);
	--ifm-link-decoration: underline;
	--ifm-tabs-color: var(--ifm-alert-foreground-color);
	--ifm-tabs-color-active: var(--ifm-alert-foreground-color);
	--ifm-tabs-color-active-border: var(--ifm-alert-border-color);
	background-color: var(--ifm-alert-background-color);
	border: var(--ifm-alert-border-width) solid var(--ifm-alert-border-color);
	border-left-width: var(--ifm-alert-border-left-width);
	border-radius: var(--ifm-alert-border-radius);
	box-shadow: var(--ifm-alert-shadow);
	color: black;
	padding: var(--ifm-alert-padding-vertical) var(--ifm-alert-padding-horizontal);
}
.example .admonitionHeading_FzoX code {
	text-transform: none;
}

/* --- SWAL2 --- */
.swal2-popup.error {
	background-color: var(--ifm-color-danger-darkest) !important;
	color: whitesmoke;
	padding-bottom: 0;
}

div:where(.swal2-container)
	button:where(.swal2-styled).swal2-confirm.error:focus {
	box-shadow: 0 0 0 3px rgba(128, 20, 24, 0.405);
}

div:where(.swal2-container) button:where(.swal2-close.error):focus {
	box-shadow: none !important;
}

.swal2-confirm.error {
	background-color: var(--ifm-color-danger-dark);
	border-color: var(--ifm-color-danger-darker);
	color: whitesmoke;
}
.swal2-confirm.hide {
	display: none !important;
}

/* --- AUTOCOMPLETE FONT OVERRIDE (DÉJÀ FAIT PLUS HAUT POUR .autocomplete) --- */
@supports (font-variation-settings: normal) {
	.autocomplete {
		font-family: "Fira Code VF", monospace;
	}
}
