/* --- IMPORTS ET BASES --- */

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Karla:ital,wght@0,200..800;1,200..800&family=Recursive:wght@300..1000&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/@typopro/web-fantasque-sans-mono@3.7.5/TypoPRO-FantasqueSansMono.css");
@import "./tailwind.css";
@import "./variables.css";
@import "./swal.css";
@import "./admonition.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- TYPO --- */
.heading-2 {
	font-family: var(--ifm-heading-font-family);
	font-size: 1.5rem;
	margin-bottom: 10px;
}

/* --- MUI OVERRIDES (Typo, Inputs, Icons, Papers) --- */

/* --- DANGER --- */
#danger {
	--docusaurus-details-decoration-color: var(--danger-summary-color);
	background-color: var(--danger-summary);
	color: var(--danger-summary-color);
	border: var(--danger-summary);
}

#danger summary {
	font-weight: bold;
	text-transform: uppercase;
	font-variant: small-caps;
}

#danger svg {
	vertical-align: text-top;
}

/* --- Mark ---- */

mark:has(code) {
	background-color: transparent;
	padding: 0;
	border: 0;
}

mark {
	padding: 0.2rem;
	border-radius: 5px;
	border: 1px solid #e4e482;
}

mark code {
	background-color: yellow;
	color: var(--ifm-code-color);
	border-radius: 5px;
	padding: 0.2rem 0.4rem;
	font-family: var(--ifm-font-family-monospace);
	font-size: 0.9rem;
}

mark.green code {
	background-color: lightgreen;
}
