/* --- VARIABLES --- */
:root {
	--ifm-font-family-base: "Atkinson Hyperlegible", sans-serif;
	--ifm-heading-font-family: "Karla", sans-serif;
	--ifm-font-family-monospace:
		"TypoPRO Fantasque Sans Mono", "Fira Code", "Fantasque Sans Mono Regular",
		monospace;
	--ifm-color-primary-alpha: rgba(150, 14, 165, 0.1);

	--ifm-color-primary: #960ea5;
	--ifm-color-primary-dark: #870d95;
	--ifm-color-primary-darker: #800c8c;
	--ifm-color-primary-darkest: #690a74;
	--ifm-color-primary-light: #a50fb6;
	--ifm-color-primary-lighter: #ad10be;
	--ifm-color-primary-lightest: #c312d7;

	--docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
	--ifm-color-primary: #b869e7;
	--ifm-color-primary-dark: #aa4ce2;
	--ifm-color-primary-darker: #a33ee0;
	--delete-button-bg-darker: rgba(188, 28, 28, 0.44);
	--ifm-color-primary-darkest: #8b20cb;
	--ifm-color-primary-light: #c686ec;
	--ifm-color-primary-lighter: #cd94ee;
	--ifm-color-primary-lightest: #e1c0f5;
}
